@font-face { font-family: Font; src: url('Game/Text/Perpetrator.ttf'); }

.create-container{
    background-color: rgba(191,191,191,0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

    border-radius: 8px;
    margin: auto;
    height: auto;
    width: auto;

    position: fixed;
    top: 80%;
    left: 8%;
    transform: translate(-50%, -50%);

    text-align: center
}

* {
    margin: 0;
    padding: 0;
}

canvas{
    position: absolute;
    z-index: -1;
}

body, input, textarea, button {
    font-family: Font, sans-serif;
}

.button_container{
    border: 1px solid black;
    box-shadow: 1px 2px 2px black;
    width: auto;
    height: auto;
    padding: 1%;
    position: relative;
    top: 0%;
    left: 0%;
    border-radius: 25px;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    top: 25%;
    position: relative;
    margin: 2%;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-family: Font, sans-serif;
    letter-spacing: 5px;
    background: #7a4d20;
    border: 2px solid black;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    transition: 200ms;
}

button:after {
    content: '';
    position: absolute;
    transform: translateX(-55px) translateY(-40px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 50px transparent;
    transition: 500ms;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

button:hover:after {
    background: white;
    box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
    animation: spin 1s infinite linear;
}

@keyframes spin{
    25%{transform: translateX(-25px) translateY(-35px);
        width: 15px;
        height: 15px;}
    50% {transform: translateX(-55px) translateY(-30px);
        width: 5px;
        height: 5px;}
    75% {transform: translateX(-85px) translateY(-35px);
        width: 15px;
        height: 15px;}
}

button:focus {
    outline: none;
}




#gui {
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 30px;
    width: 300px;
    overflow: auto
}

.score p {
    font-size: 60pt;
    text-align: center;
    font-family: Arial;
    padding-top: 35pt;
    margin: 0 0 0 0;
    font-weight: bold;
    color: #552306;
}

.buttons {
    margin-top: 10px;
}

.lives {
    width:80%;
    margin: 10px auto;
}

#end_game {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0px;
    background: rgba(40, 40, 40, 0.5);
}

.gui-container {
    font-family: Arial;
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 30px;
    border-style: dotted;
    border-color: rgba(71, 72, 71, 0.64);
    overflow: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(181, 174, 174, 0.66);
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    border-radius: 15px;
    font-size: small;
    display: grid;
}
.gui-element{
    display: flex;
    align-items: center;
    float: right;
    height: 1.7em;
}

.gui-slider{
    min-width: 80px;
    margin-left: .3em;
    margin-right: .3em;
    opacity: 0.7;
}

.gui-slider-text{
    text-align: right;
    min-width: 6em;
}

.gui-slider-value{
    float: right;
    min-width: 3.5em;
    order: 1;
}
.gui-subgroup-text{
    text-align: right;
    min-width: 6em;
    font-weight: bold;
}